<h3 class="text-center"> Edição de informações</h3>
<div class="container">
  <div class="col">
    <form action="">
      <div class="mb-1">
        <label for="form-label"> Nome do cliente</label>
               <input
          [(ngModel)]="transferencia.nomeCliente"
          type="text"
          class="form-control"
          name="nomeCliente"
          placeholder="Nome do Cliente"
        />
      </div>
      <div class="mb-1">
        <label for="form-label"> Valor da transação</label>
        <input
          [(ngModel)]="transferencia.valor"
          type="text"
          class="form-control"
          name="valor"
          placeholder="Valor da transacao"
        />
      </div>
      <div class="mb-1">
        <label for="form-label"> Conta cliente</label>
        <input
          [(ngModel)]="transferencia.contaCliente"
          type="text"
          class="form-control"
          name="contaCliente"
          placeholder="conta Cliente"
        />
      </div>
     <div class="mt-5">
        <button (click)="modificar()" class="btn btn-warning mb-1">
          Modificar
        </button>
      </div>
        </form>
  </div>
</div>

